.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._85{margin-left:-2861.856624px;}
._87{margin-left:-2855.856624px;}
._8c{margin-left:-2847.856624px;}
._8b{margin-left:-2845.856624px;}
._86{margin-left:-2841.856624px;}
._8e{margin-left:-2567.143733px;}
._8d{margin-left:-9.696000px;}
._26{margin-left:-7.920000px;}
._0{margin-left:-5.328000px;}
._6{margin-left:-3.960000px;}
._1{margin-left:-2.592000px;}
._3{margin-left:-1.296000px;}
._84{width:1.537875px;}
._45{width:15.200021px;}
._44{width:40.626021px;}
._68{width:68.624207px;}
._2e{width:72.754182px;}
._79{width:76.953231px;}
._6b{width:78.781231px;}
._74{width:79.870952px;}
._75{width:88.977231px;}
._33{width:95.508806px;}
._4b{width:100.310995px;}
._69{width:103.044913px;}
._46{width:109.236444px;}
._43{width:115.060404px;}
._67{width:146.427645px;}
._2d{width:151.045770px;}
._81{width:172.405043px;}
._3e{width:174.444932px;}
._7d{width:182.835580px;}
._72{width:183.867580px;}
._7f{width:184.974599px;}
._36{width:186.015753px;}
._83{width:187.291043px;}
._3f{width:189.464448px;}
._40{width:191.004448px;}
._41{width:192.456448px;}
._7b{width:193.511043px;}
._70{width:195.799043px;}
._6c{width:197.339043px;}
._56{width:199.066021px;}
._34{width:200.714448px;}
._3d{width:202.254448px;}
._4d{width:203.455484px;}
._2c{width:208.438982px;}
._35{width:211.451627px;}
._5a{width:212.455484px;}
._5d{width:216.516131px;}
._61{width:221.109047px;}
._55{width:222.405047px;}
._58{width:223.665047px;}
._59{width:224.853047px;}
._37{width:226.930938px;}
._63{width:230.109047px;}
._53{width:231.405047px;}
._4c{width:232.665047px;}
._76{width:245.009670px;}
._6a{width:248.423147px;}
._42{width:250.257634px;}
._38{width:252.501024px;}
._2f{width:254.498938px;}
._6d{width:263.072642px;}
._82{width:264.379086px;}
._39{width:266.515753px;}
._4e{width:268.303696px;}
._57{width:269.326444px;}
._32{width:270.396182px;}
._4a{width:272.861957px;}
._71{width:274.280702px;}
._30{width:276.657024px;}
._3b{width:278.197024px;}
._89{width:282.128000px;}
._88{width:286.088000px;}
._77{width:287.958190px;}
._47{width:290.495696px;}
._5b{width:291.964156px;}
._5e{width:305.123400px;}
._3a{width:307.338938px;}
._6f{width:315.390862px;}
._66{width:317.039400px;}
._73{width:318.438862px;}
._31{width:323.536240px;}
._3c{width:325.076240px;}
._54{width:326.975400px;}
._4f{width:328.235400px;}
._80{width:331.184862px;}
._50{width:335.107484px;}
._64{width:336.803400px;}
._7a{width:341.040862px;}
._7e{width:342.538862px;}
._5f{width:345.443400px;}
._51{width:346.739400px;}
._48{width:347.999400px;}
._5c{width:364.813990px;}
._65{width:376.918829px;}
._62{width:384.406829px;}
._60{width:385.558829px;}
._52{width:386.854829px;}
._49{width:388.114829px;}
._8a{width:403.944000px;}
._78{width:407.874048px;}
._7c{width:409.356585px;}
._6e{width:414.718048px;}
._4{width:938.264000px;}
._7{width:946.040000px;}
._1e{width:1028.944000px;}
._5{width:1044.896000px;}
._1d{width:1200.952000px;}
._14{width:1217.080000px;}
._12{width:1257.048000px;}
._f{width:1334.152000px;}
._8{width:1341.167750px;}
._13{width:1441.144000px;}
._a{width:1479.736000px;}
._10{width:1495.864000px;}
._e{width:1519.696000px;}
._d{width:1623.536000px;}
._19{width:1678.528000px;}
._17{width:1682.488000px;}
._15{width:1690.408000px;}
._c{width:1694.008000px;}
._1f{width:1699.624000px;}
._2{width:1711.912000px;}
._11{width:1718.416000px;}
._2b{width:1720.864000px;}
._1b{width:1746.496000px;}
._28{width:1748.800000px;}
._22{width:1763.560000px;}
._2a{width:1808.848000px;}
._24{width:1843.696000px;}
._25{width:1847.656000px;}
._27{width:1856.944000px;}
._1a{width:1858.456000px;}
._18{width:1862.416000px;}
._16{width:1870.336000px;}
._29{width:1872.856000px;}
._21{width:1883.728000px;}
._23{width:1887.616000px;}
._9{width:1902.304000px;}
._1c{width:1906.336000px;}
._b{width:1918.144000px;}
._20{width:1921.024000px;}
.fca{color:rgb(255,0,0);}
.fc3{color:rgb(192,79,21);}
.fc6{color:rgb(120,32,110);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(131,203,235);}
.fc4{color:rgb(0,112,192);}
.fc2{color:rgb(33,95,154);}
.fc8{color:rgb(0,0,0);}
.fc7{color:rgb(0,176,240);}
.fc5{color:rgb(70,120,134);}
.fc9{color:rgb(142,217,115);}
.fs4{font-size:36.000000px;}
.fs6{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs9{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs8{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.fs7{font-size:80.000000px;}
.fs2{font-size:96.000000px;}
.fs0{font-size:144.000000px;}
.y8c{bottom:-121.793579px;}
.y0{bottom:0.000000px;}
.yd2{bottom:2.400370px;}
.ybb{bottom:2.752640px;}
.yc8{bottom:4.055521px;}
.ydb{bottom:5.710733px;}
.yd1{bottom:14.400370px;}
.yc7{bottom:16.055521px;}
.yba{bottom:17.152664px;}
.y56{bottom:17.344751px;}
.yda{bottom:17.710733px;}
.y29{bottom:22.401169px;}
.y8b{bottom:23.284637px;}
.y19{bottom:30.118668px;}
.yb9{bottom:31.471451px;}
.y55{bottom:33.910011px;}
.y71{bottom:38.904240px;}
.yb8{bottom:45.952682px;}
.y54{bottom:49.686562px;}
.y28{bottom:50.001175px;}
.y8a{bottom:50.884644px;}
.y70{bottom:52.138332px;}
.y18{bottom:57.718674px;}
.y6f{bottom:59.222111px;}
.yb7{bottom:60.352707px;}
.ya1{bottom:61.479904px;}
.yf3{bottom:63.327423px;}
.y94{bottom:65.406525px;}
.y53{bottom:65.463081px;}
.y9d{bottom:71.079910px;}
.yb6{bottom:74.752731px;}
.y27{bottom:77.601181px;}
.y89{bottom:78.484650px;}
.y6e{bottom:78.572422px;}
.y52{bottom:81.239632px;}
.y17{bottom:85.318680px;}
.yb5{bottom:89.152756px;}
.y6d{bottom:91.806515px;}
.y51{bottom:97.016151px;}
.y6c{bottom:98.890293px;}
.yf2{bottom:102.927429px;}
.yb4{bottom:103.552780px;}
.y9c{bottom:104.679916px;}
.y26{bottom:105.201187px;}
.y88{bottom:106.084656px;}
.y93{bottom:110.884674px;}
.y50{bottom:112.792702px;}
.y16{bottom:112.918686px;}
.yb3{bottom:117.952805px;}
.y6b{bottom:118.240604px;}
.yd9{bottom:127.413925px;}
.y4f{bottom:128.569221px;}
.ycf{bottom:131.154800px;}
.yb2{bottom:132.352829px;}
.y25{bottom:132.801193px;}
.y5{bottom:137.484268px;}
.y6a{bottom:138.558475px;}
.y15{bottom:140.518692px;}
.yf1{bottom:142.527435px;}
.y4e{bottom:144.345772px;}
.y87{bottom:144.606537px;}
.y9b{bottom:147.879913px;}
.yb1{bottom:148.159195px;}
.y68{bottom:150.825035px;}
.y92{bottom:156.484680px;}
.y69{bottom:157.908817px;}
.y4d{bottom:160.122292px;}
.y24{bottom:160.401199px;}
.y3b{bottom:161.153834px;}
.y86{bottom:166.206543px;}
.y14{bottom:168.118698px;}
.yb0{bottom:169.290421px;}
.yd8{bottom:170.613922px;}
.yce{bottom:174.354797px;}
.ye1{bottom:174.354813px;}
.y4c{bottom:175.898842px;}
.y67{bottom:177.259129px;}
.y3a{bottom:179.665584px;}
.yf0{bottom:182.127457px;}
.y23{bottom:188.001205px;}
.y9a{bottom:191.079895px;}
.y4b{bottom:191.675362px;}
.y8{bottom:192.251480px;}
.y85{bottom:192.868973px;}
.y13{bottom:195.718704px;}
.y66{bottom:196.609440px;}
.y4{bottom:197.821533px;}
.y39{bottom:198.177302px;}
.y91{bottom:202.084671px;}
.yaf{bottom:202.890442px;}
.y4a{bottom:207.451912px;}
.yd7{bottom:213.813904px;}
.y22{bottom:215.601212px;}
.y84{bottom:215.668976px;}
.y38{bottom:216.689052px;}
.y65{bottom:216.927311px;}
.ycd{bottom:217.554779px;}
.ye0{bottom:217.554794px;}
.y64{bottom:219.518684px;}
.yae{bottom:221.152878px;}
.yef{bottom:221.727448px;}
.y49{bottom:223.228432px;}
.y12{bottom:223.318710px;}
.y73{bottom:231.917820px;}
.y99{bottom:234.279877px;}
.y37{bottom:235.200770px;}
.y7{bottom:235.451477px;}
.yad{bottom:235.552872px;}
.y63{bottom:236.277622px;}
.y48{bottom:239.004982px;}
.y83{bottom:239.406540px;}
.y3{bottom:241.021545px;}
.y21{bottom:243.201218px;}
.y95{bottom:244.262932px;}
.y75{bottom:246.979378px;}
.y90{bottom:247.684662px;}
.yac{bottom:249.871643px;}
.y11{bottom:250.918716px;}
.y36{bottom:253.712520px;}
.y7a{bottom:253.806519px;}
.y47{bottom:254.781502px;}
.y62{bottom:255.627934px;}
.yd6{bottom:257.013885px;}
.ycc{bottom:260.754761px;}
.ydf{bottom:260.754776px;}
.yee{bottom:261.327438px;}
.yab{bottom:264.352875px;}
.y82{bottom:266.884689px;}
.yc6{bottom:269.152863px;}
.y46{bottom:270.558052px;}
.y20{bottom:270.801224px;}
.ye9{bottom:270.975986px;}
.y35{bottom:272.224238px;}
.y72{bottom:272.312931px;}
.y2a{bottom:273.062931px;}
.y74{bottom:275.779377px;}
.y61{bottom:275.945805px;}
.y98{bottom:277.479874px;}
.y10{bottom:278.518723px;}
.y6{bottom:278.651478px;}
.yaa{bottom:278.752869px;}
.yc5{bottom:283.552856px;}
.y2{bottom:284.221558px;}
.y45{bottom:286.334572px;}
.y34{bottom:290.735972px;}
.y8f{bottom:293.284653px;}
.ya9{bottom:294.559219px;}
.y60{bottom:296.263691px;}
.yc4{bottom:297.952850px;}
.y1f{bottom:298.401230px;}
.yd5{bottom:300.213882px;}
.yed{bottom:300.927429px;}
.y44{bottom:302.111107px;}
.ycb{bottom:303.954758px;}
.yde{bottom:303.954773px;}
.yf{bottom:306.118729px;}
.y33{bottom:309.247706px;}
.yc3{bottom:312.352844px;}
.ya8{bottom:315.690430px;}
.y81{bottom:316.468964px;}
.y5f{bottom:316.581562px;}
.y43{bottom:317.887642px;}
.y5e{bottom:319.172935px;}
.y97{bottom:320.679878px;}
.ye7{bottom:322.641525px;}
.y1e{bottom:326.001228px;}
.yc2{bottom:326.752838px;}
.y1{bottom:327.665245px;}
.y32{bottom:327.759440px;}
.y42{bottom:333.664177px;}
.ye{bottom:333.718727px;}
.y5d{bottom:335.931873px;}
.y8e{bottom:338.884659px;}
.y80{bottom:339.268951px;}
.yec{bottom:340.527428px;}
.yc1{bottom:341.152840px;}
.yd4{bottom:343.413887px;}
.ye6{bottom:344.241531px;}
.y31{bottom:346.271174px;}
.yca{bottom:347.154762px;}
.ydd{bottom:347.154778px;}
.y41{bottom:349.440712px;}
.y1d{bottom:353.601227px;}
.y5c{bottom:355.282185px;}
.yc0{bottom:355.552841px;}
.ya7{bottom:355.552864px;}
.yd{bottom:361.318726px;}
.y7f{bottom:362.068947px;}
.y96{bottom:363.879877px;}
.y30{bottom:364.782908px;}
.y40{bottom:365.217247px;}
.y79{bottom:365.406525px;}
.ye5{bottom:365.841537px;}
.ya6{bottom:369.952866px;}
.ybf{bottom:370.782104px;}
.y5b{bottom:375.600071px;}
.y5a{bottom:379.159000px;}
.yeb{bottom:380.127426px;}
.ye8{bottom:380.152872px;}
.y3f{bottom:380.993782px;}
.y1c{bottom:381.201225px;}
.y2f{bottom:383.294642px;}
.ya5{bottom:384.352867px;}
.y8d{bottom:384.484665px;}
.y7e{bottom:384.868942px;}
.yd3{bottom:386.613886px;}
.y78{bottom:386.884682px;}
.ye4{bottom:387.441536px;}
.yc{bottom:388.918724px;}
.ybe{bottom:390.090416px;}
.yc9{bottom:390.354761px;}
.ydc{bottom:390.354776px;}
.y59{bottom:395.917934px;}
.y3e{bottom:396.770317px;}
.ya4{bottom:400.159218px;}
.y2e{bottom:401.806369px;}
.yd0{bottom:408.246025px;}
.y7d{bottom:408.606510px;}
.y77{bottom:408.606525px;}
.y1b{bottom:408.801228px;}
.ye3{bottom:409.041536px;}
.y3d{bottom:412.546860px;}
.ya0{bottom:415.052670px;}
.y57{bottom:416.235809px;}
.yb{bottom:416.518726px;}
.yea{bottom:419.727427px;}
.y2d{bottom:420.318096px;}
.y2b{bottom:420.318100px;}
.ya3{bottom:421.182129px;}
.ybd{bottom:423.221634px;}
.y3c{bottom:428.323389px;}
.y58{bottom:429.435808px;}
.y9f{bottom:429.846025px;}
.y7c{bottom:430.084665px;}
.y2c{bottom:433.518095px;}
.y1a{bottom:436.401228px;}
.y76{bottom:436.622164px;}
.ybc{bottom:440.382113px;}
.ya2{bottom:440.490434px;}
.y7b{bottom:443.428808px;}
.ya{bottom:444.118727px;}
.y9e{bottom:471.133396px;}
.y9{bottom:473.078150px;}
.ye2{bottom:473.199995px;}
.h5{height:25.839844px;}
.hc{height:29.140625px;}
.h4{height:31.582031px;}
.h7{height:32.054688px;}
.hb{height:34.968750px;}
.h8{height:40.796875px;}
.ha{height:46.625000px;}
.h6{height:47.988281px;}
.h2{height:52.453125px;}
.h9{height:58.242188px;}
.h3{height:69.937500px;}
.h1{height:104.835938px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}

.h10{height:540px;}
.w10{width:100%;}


.x0{left:0.000000px;}
.x3f{left:51.725204px;}
.x2f{left:53.373306px;}
.x41{left:54.677872px;}
.x36{left:57.159225px;}
.x49{left:64.630859px;}
.x46{left:76.230934px;}
.x18{left:86.249908px;}
.x1b{left:87.742371px;}
.xa{left:93.449768px;}
.x24{left:109.530315px;}
.x27{left:112.030315px;}
.x11{left:117.267036px;}
.x1d{left:120.155315px;}
.x1a{left:124.885796px;}
.xb{left:129.449768px;}
.x47{left:147.423096px;}
.x30{left:160.794662px;}
.xe{left:165.449768px;}
.x39{left:181.194580px;}
.x44{left:191.755127px;}
.x38{left:197.609619px;}
.x3b{left:201.159210px;}
.x10{left:227.998505px;}
.x1c{left:239.498596px;}
.x40{left:241.357162px;}
.x35{left:250.876862px;}
.x45{left:253.923096px;}
.x33{left:255.451080px;}
.x3a{left:261.564362px;}
.x1{left:265.000000px;}
.x19{left:266.661102px;}
.x31{left:278.671783px;}
.x2{left:285.667969px;}
.x6{left:289.000000px;}
.x48{left:291.505127px;}
.x2b{left:292.594437px;}
.xf{left:293.921783px;}
.x43{left:298.255127px;}
.x2c{left:299.996780px;}
.x28{left:306.720612px;}
.x37{left:329.069580px;}
.x3{left:332.000000px;}
.x29{left:338.591064px;}
.x4{left:342.000000px;}
.x4a{left:343.905212px;}
.x4c{left:369.914307px;}
.x42{left:376.303467px;}
.x32{left:378.255127px;}
.x2d{left:388.091064px;}
.x3e{left:390.372437px;}
.x34{left:397.142487px;}
.x2a{left:409.626862px;}
.x25{left:418.160891px;}
.x8{left:425.000000px;}
.xc{left:428.999878px;}
.x7{left:440.000000px;}
.x9{left:450.999878px;}
.x26{left:458.915985px;}
.x1e{left:467.921083px;}
.x12{left:469.585176px;}
.x1f{left:478.233583px;}
.x5{left:480.000000px;}
.x3c{left:507.351074px;}
.x21{left:528.368746px;}
.x14{left:530.852083px;}
.x20{left:534.993746px;}
.x13{left:537.477083px;}
.x3d{left:579.351074px;}
.x23{left:588.503939px;}
.x16{left:591.806490px;}
.x22{left:599.128939px;}
.x15{left:602.431490px;}
.x4b{left:636.860352px;}
.x2e{left:650.423096px;}
.x17{left:661.387428px;}
.xd{left:760.449768px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._85{margin-left:-3815.808831pt;}
._87{margin-left:-3807.808831pt;}
._8c{margin-left:-3797.142165pt;}
._8b{margin-left:-3794.475498pt;}
._86{margin-left:-3789.142165pt;}
._8e{margin-left:-3422.858311pt;}
._8d{margin-left:-12.928000pt;}
._26{margin-left:-10.560000pt;}
._0{margin-left:-7.104000pt;}
._6{margin-left:-5.280000pt;}
._1{margin-left:-3.456000pt;}
._3{margin-left:-1.728000pt;}
._84{width:2.050500pt;}
._45{width:20.266695pt;}
._44{width:54.168029pt;}
._68{width:91.498943pt;}
._2e{width:97.005576pt;}
._79{width:102.604308pt;}
._6b{width:105.041641pt;}
._74{width:106.494602pt;}
._75{width:118.636308pt;}
._33{width:127.345074pt;}
._4b{width:133.747994pt;}
._69{width:137.393217pt;}
._46{width:145.648592pt;}
._43{width:153.413873pt;}
._67{width:195.236860pt;}
._2d{width:201.394359pt;}
._81{width:229.873390pt;}
._3e{width:232.593243pt;}
._7d{width:243.780774pt;}
._72{width:245.156774pt;}
._7f{width:246.632798pt;}
._36{width:248.021004pt;}
._83{width:249.721390pt;}
._3f{width:252.619264pt;}
._40{width:254.672597pt;}
._41{width:256.608597pt;}
._7b{width:258.014724pt;}
._70{width:261.065390pt;}
._6c{width:263.118724pt;}
._56{width:265.421362pt;}
._34{width:267.619264pt;}
._3d{width:269.672597pt;}
._4d{width:271.273979pt;}
._2c{width:277.918643pt;}
._35{width:281.935503pt;}
._5a{width:283.273979pt;}
._5d{width:288.688175pt;}
._61{width:294.812063pt;}
._55{width:296.540063pt;}
._58{width:298.220063pt;}
._59{width:299.804063pt;}
._37{width:302.574583pt;}
._63{width:306.812063pt;}
._53{width:308.540063pt;}
._4c{width:310.220063pt;}
._76{width:326.679560pt;}
._6a{width:331.230863pt;}
._42{width:333.676845pt;}
._38{width:336.668032pt;}
._2f{width:339.331917pt;}
._6d{width:350.763522pt;}
._82{width:352.505448pt;}
._39{width:355.354338pt;}
._4e{width:357.738262pt;}
._57{width:359.101926pt;}
._32{width:360.528242pt;}
._4a{width:363.815943pt;}
._71{width:365.707603pt;}
._30{width:368.876032pt;}
._3b{width:370.929365pt;}
._89{width:376.170667pt;}
._88{width:381.450667pt;}
._77{width:383.944253pt;}
._47{width:387.327595pt;}
._5b{width:389.285542pt;}
._5e{width:406.831200pt;}
._3a{width:409.785250pt;}
._6f{width:420.521150pt;}
._66{width:422.719200pt;}
._73{width:424.585150pt;}
._31{width:431.381653pt;}
._3c{width:433.434986pt;}
._54{width:435.967200pt;}
._4f{width:437.647200pt;}
._80{width:441.579816pt;}
._50{width:446.809979pt;}
._64{width:449.071200pt;}
._7a{width:454.721150pt;}
._7e{width:456.718483pt;}
._5f{width:460.591200pt;}
._51{width:462.319200pt;}
._48{width:463.999200pt;}
._5c{width:486.418653pt;}
._65{width:502.558439pt;}
._62{width:512.542439pt;}
._60{width:514.078439pt;}
._52{width:515.806439pt;}
._49{width:517.486439pt;}
._8a{width:538.592000pt;}
._78{width:543.832064pt;}
._7c{width:545.808781pt;}
._6e{width:552.957397pt;}
._4{width:1251.018667pt;}
._7{width:1261.386667pt;}
._1e{width:1371.925333pt;}
._5{width:1393.194667pt;}
._1d{width:1601.269333pt;}
._14{width:1622.773333pt;}
._12{width:1676.064000pt;}
._f{width:1778.869333pt;}
._8{width:1788.223667pt;}
._13{width:1921.525333pt;}
._a{width:1972.981333pt;}
._10{width:1994.485333pt;}
._e{width:2026.261333pt;}
._d{width:2164.714667pt;}
._19{width:2238.037333pt;}
._17{width:2243.317333pt;}
._15{width:2253.877333pt;}
._c{width:2258.677333pt;}
._1f{width:2266.165333pt;}
._2{width:2282.549333pt;}
._11{width:2291.221333pt;}
._2b{width:2294.485333pt;}
._1b{width:2328.661333pt;}
._28{width:2331.733333pt;}
._22{width:2351.413333pt;}
._2a{width:2411.797333pt;}
._24{width:2458.261333pt;}
._25{width:2463.541333pt;}
._27{width:2475.925333pt;}
._1a{width:2477.941333pt;}
._18{width:2483.221333pt;}
._16{width:2493.781333pt;}
._29{width:2497.141333pt;}
._21{width:2511.637333pt;}
._23{width:2516.821333pt;}
._9{width:2536.405333pt;}
._1c{width:2541.781333pt;}
._b{width:2557.525333pt;}
._20{width:2561.365333pt;}
.fs4{font-size:48.000000pt;}
.fs6{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs9{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs8{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.fs7{font-size:106.666667pt;}
.fs2{font-size:128.000000pt;}
.fs0{font-size:192.000000pt;}
.y8c{bottom:-162.391439pt;}
.y0{bottom:0.000000pt;}
.yd2{bottom:3.200493pt;}
.ybb{bottom:3.670186pt;}
.yc8{bottom:5.407361pt;}
.ydb{bottom:7.614311pt;}
.yd1{bottom:19.200493pt;}
.yc7{bottom:21.407361pt;}
.yba{bottom:22.870219pt;}
.y56{bottom:23.126335pt;}
.yda{bottom:23.614311pt;}
.y29{bottom:29.868225pt;}
.y8b{bottom:31.046183pt;}
.y19{bottom:40.158223pt;}
.yb9{bottom:41.961934pt;}
.y55{bottom:45.213348pt;}
.y71{bottom:51.872320pt;}
.yb8{bottom:61.270243pt;}
.y54{bottom:66.248749pt;}
.y28{bottom:66.668233pt;}
.y8a{bottom:67.846191pt;}
.y70{bottom:69.517776pt;}
.y18{bottom:76.958232pt;}
.y6f{bottom:78.962814pt;}
.yb7{bottom:80.470276pt;}
.ya1{bottom:81.973206pt;}
.yf3{bottom:84.436564pt;}
.y94{bottom:87.208700pt;}
.y53{bottom:87.284108pt;}
.y9d{bottom:94.773214pt;}
.yb6{bottom:99.670308pt;}
.y27{bottom:103.468241pt;}
.y89{bottom:104.646200pt;}
.y6e{bottom:104.763229pt;}
.y52{bottom:108.319509pt;}
.y17{bottom:113.758240pt;}
.yb5{bottom:118.870341pt;}
.y6d{bottom:122.408686pt;}
.y51{bottom:129.354869pt;}
.y6c{bottom:131.853724pt;}
.yf2{bottom:137.236572pt;}
.yb4{bottom:138.070374pt;}
.y9c{bottom:139.573222pt;}
.y26{bottom:140.268250pt;}
.y88{bottom:141.446208pt;}
.y93{bottom:147.846232pt;}
.y50{bottom:150.390269pt;}
.y16{bottom:150.558248pt;}
.yb3{bottom:157.270406pt;}
.y6b{bottom:157.654139pt;}
.yd9{bottom:169.885234pt;}
.y4f{bottom:171.425629pt;}
.ycf{bottom:174.873067pt;}
.yb2{bottom:176.470439pt;}
.y25{bottom:177.068258pt;}
.y5{bottom:183.312358pt;}
.y6a{bottom:184.744634pt;}
.y15{bottom:187.358256pt;}
.yf1{bottom:190.036580pt;}
.y4e{bottom:192.461029pt;}
.y87{bottom:192.808716pt;}
.y9b{bottom:197.173218pt;}
.yb1{bottom:197.545593pt;}
.y68{bottom:201.100047pt;}
.y92{bottom:208.646240pt;}
.y69{bottom:210.545090pt;}
.y4d{bottom:213.496389pt;}
.y24{bottom:213.868266pt;}
.y3b{bottom:214.871779pt;}
.y86{bottom:221.608724pt;}
.y14{bottom:224.158264pt;}
.yb0{bottom:225.720561pt;}
.yd8{bottom:227.485229pt;}
.yce{bottom:232.473063pt;}
.ye1{bottom:232.473083pt;}
.y4c{bottom:234.531789pt;}
.y67{bottom:236.345505pt;}
.y3a{bottom:239.554111pt;}
.yf0{bottom:242.836609pt;}
.y23{bottom:250.668274pt;}
.y9a{bottom:254.773193pt;}
.y4b{bottom:255.567149pt;}
.y8{bottom:256.335307pt;}
.y85{bottom:257.158630pt;}
.y13{bottom:260.958272pt;}
.y66{bottom:262.145920pt;}
.y4{bottom:263.762044pt;}
.y39{bottom:264.236403pt;}
.y91{bottom:269.446228pt;}
.yaf{bottom:270.520589pt;}
.y4a{bottom:276.602549pt;}
.yd7{bottom:285.085205pt;}
.y22{bottom:287.468282pt;}
.y84{bottom:287.558634pt;}
.y38{bottom:288.918736pt;}
.y65{bottom:289.236415pt;}
.ycd{bottom:290.073039pt;}
.ye0{bottom:290.073059pt;}
.y64{bottom:292.691579pt;}
.yae{bottom:294.870504pt;}
.yef{bottom:295.636597pt;}
.y49{bottom:297.637909pt;}
.y12{bottom:297.758280pt;}
.y73{bottom:309.223760pt;}
.y99{bottom:312.373169pt;}
.y37{bottom:313.601027pt;}
.y7{bottom:313.935303pt;}
.yad{bottom:314.070496pt;}
.y63{bottom:315.036830pt;}
.y48{bottom:318.673309pt;}
.y83{bottom:319.208720pt;}
.y3{bottom:321.362061pt;}
.y21{bottom:324.268290pt;}
.y95{bottom:325.683909pt;}
.y75{bottom:329.305837pt;}
.y90{bottom:330.246216pt;}
.yac{bottom:333.162191pt;}
.y11{bottom:334.558289pt;}
.y36{bottom:338.283360pt;}
.y7a{bottom:338.408691pt;}
.y47{bottom:339.708669pt;}
.y62{bottom:340.837245pt;}
.yd6{bottom:342.685181pt;}
.ycc{bottom:347.673014pt;}
.ydf{bottom:347.673035pt;}
.yee{bottom:348.436584pt;}
.yab{bottom:352.470500pt;}
.y82{bottom:355.846252pt;}
.yc6{bottom:358.870483pt;}
.y46{bottom:360.744069pt;}
.y20{bottom:361.068298pt;}
.ye9{bottom:361.301315pt;}
.y35{bottom:362.965651pt;}
.y72{bottom:363.083908pt;}
.y2a{bottom:364.083908pt;}
.y74{bottom:367.705836pt;}
.y61{bottom:367.927739pt;}
.y98{bottom:369.973165pt;}
.y10{bottom:371.358297pt;}
.y6{bottom:371.535304pt;}
.yaa{bottom:371.670492pt;}
.yc5{bottom:378.070475pt;}
.y2{bottom:378.962077pt;}
.y45{bottom:381.779429pt;}
.y34{bottom:387.647963pt;}
.y8f{bottom:391.046204pt;}
.ya9{bottom:392.745626pt;}
.y60{bottom:395.018255pt;}
.yc4{bottom:397.270467pt;}
.y1f{bottom:397.868306pt;}
.yd5{bottom:400.285177pt;}
.yed{bottom:401.236572pt;}
.y44{bottom:402.814809pt;}
.ycb{bottom:405.273010pt;}
.yde{bottom:405.273031pt;}
.yf{bottom:408.158305pt;}
.y33{bottom:412.330275pt;}
.yc3{bottom:416.470459pt;}
.ya8{bottom:420.920573pt;}
.y81{bottom:421.958618pt;}
.y5f{bottom:422.108749pt;}
.y43{bottom:423.850189pt;}
.y5e{bottom:425.563914pt;}
.y97{bottom:427.573171pt;}
.ye7{bottom:430.188700pt;}
.y1e{bottom:434.668304pt;}
.yc2{bottom:435.670451pt;}
.y1{bottom:436.886993pt;}
.y32{bottom:437.012587pt;}
.y42{bottom:444.885569pt;}
.ye{bottom:444.958303pt;}
.y5d{bottom:447.909164pt;}
.y8e{bottom:451.846212pt;}
.y80{bottom:452.358602pt;}
.yec{bottom:454.036570pt;}
.yc1{bottom:454.870453pt;}
.yd4{bottom:457.885183pt;}
.ye6{bottom:458.988708pt;}
.y31{bottom:461.694899pt;}
.yca{bottom:462.873016pt;}
.ydd{bottom:462.873037pt;}
.y41{bottom:465.920949pt;}
.y1d{bottom:471.468302pt;}
.y5c{bottom:473.709579pt;}
.yc0{bottom:474.070455pt;}
.ya7{bottom:474.070485pt;}
.yd{bottom:481.758301pt;}
.y7f{bottom:482.758596pt;}
.y96{bottom:485.173169pt;}
.y30{bottom:486.377211pt;}
.y40{bottom:486.956329pt;}
.y79{bottom:487.208700pt;}
.ye5{bottom:487.788717pt;}
.ya6{bottom:493.270487pt;}
.ybf{bottom:494.376139pt;}
.y5b{bottom:500.800095pt;}
.y5a{bottom:505.545334pt;}
.yeb{bottom:506.836568pt;}
.ye8{bottom:506.870496pt;}
.y3f{bottom:507.991709pt;}
.y1c{bottom:508.268300pt;}
.y2f{bottom:511.059523pt;}
.ya5{bottom:512.470490pt;}
.y8d{bottom:512.646220pt;}
.y7e{bottom:513.158590pt;}
.yd3{bottom:515.485181pt;}
.y78{bottom:515.846242pt;}
.ye4{bottom:516.588715pt;}
.yc{bottom:518.558299pt;}
.ybe{bottom:520.120555pt;}
.yc9{bottom:520.473015pt;}
.ydc{bottom:520.473035pt;}
.y59{bottom:527.890579pt;}
.y3e{bottom:529.027089pt;}
.ya4{bottom:533.545624pt;}
.y2e{bottom:535.741825pt;}
.yd0{bottom:544.328033pt;}
.y7d{bottom:544.808680pt;}
.y77{bottom:544.808701pt;}
.y1b{bottom:545.068303pt;}
.ye3{bottom:545.388715pt;}
.y3d{bottom:550.062480pt;}
.ya0{bottom:553.403559pt;}
.y57{bottom:554.981079pt;}
.yb{bottom:555.358302pt;}
.yea{bottom:559.636569pt;}
.y2d{bottom:560.424128pt;}
.y2b{bottom:560.424133pt;}
.ya3{bottom:561.576172pt;}
.ybd{bottom:564.295512pt;}
.y3c{bottom:571.097852pt;}
.y58{bottom:572.581078pt;}
.y9f{bottom:573.128034pt;}
.y7c{bottom:573.446220pt;}
.y2c{bottom:578.024127pt;}
.y1a{bottom:581.868304pt;}
.y76{bottom:582.162885pt;}
.ybc{bottom:587.176151pt;}
.ya2{bottom:587.320578pt;}
.y7b{bottom:591.238411pt;}
.ya{bottom:592.158302pt;}
.y9e{bottom:628.177862pt;}
.y9{bottom:630.770866pt;}
.ye2{bottom:630.933327pt;}
.h5{height:34.453125pt;}
.hc{height:38.854167pt;}
.h4{height:42.109375pt;}
.h7{height:42.739583pt;}
.hb{height:46.625000pt;}
.h8{height:54.395833pt;}
.ha{height:62.166667pt;}
.h6{height:63.984375pt;}
.h2{height:69.937500pt;}
.h9{height:77.656250pt;}
.h3{height:93.250000pt;}
.h1{height:139.781250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}

.h10{height:720.000000pt;}
.w10{width:1280.000000pt;}

.x0{left:0.000000pt;}
.x3f{left:68.966939pt;}
.x2f{left:71.164408pt;}
.x41{left:72.903829pt;}
.x36{left:76.212301pt;}
.x49{left:86.174479pt;}
.x46{left:101.641246pt;}
.x18{left:114.999878pt;}
.x1b{left:116.989827pt;}
.xa{left:124.599691pt;}
.x24{left:146.040421pt;}
.x27{left:149.373754pt;}
.x11{left:156.356049pt;}
.x1d{left:160.207087pt;}
.x1a{left:166.514394pt;}
.xb{left:172.599691pt;}
.x47{left:196.564128pt;}
.x30{left:214.392883pt;}
.xe{left:220.599691pt;}
.x39{left:241.592773pt;}
.x44{left:255.673503pt;}
.x38{left:263.479492pt;}
.x3b{left:268.212280pt;}
.x10{left:303.998006pt;}
.x1c{left:319.331462pt;}
.x40{left:321.809550pt;}
.x35{left:334.502482pt;}
.x45{left:338.564128pt;}
.x33{left:340.601440pt;}
.x3a{left:348.752482pt;}
.x1{left:353.333333pt;}
.x19{left:355.548136pt;}
.x31{left:371.562378pt;}
.x2{left:380.890625pt;}
.x6{left:385.333333pt;}
.x48{left:388.673503pt;}
.x2b{left:390.125916pt;}
.xf{left:391.895711pt;}
.x43{left:397.673503pt;}
.x2c{left:399.995707pt;}
.x28{left:408.960815pt;}
.x37{left:438.759440pt;}
.x3{left:442.666667pt;}
.x29{left:451.454753pt;}
.x4{left:456.000000pt;}
.x4a{left:458.540283pt;}
.x4c{left:493.219076pt;}
.x42{left:501.737956pt;}
.x32{left:504.340169pt;}
.x2d{left:517.454753pt;}
.x3e{left:520.496582pt;}
.x34{left:529.523315pt;}
.x2a{left:546.169149pt;}
.x25{left:557.547854pt;}
.x8{left:566.666667pt;}
.xc{left:571.999837pt;}
.x7{left:586.666667pt;}
.x9{left:601.333171pt;}
.x26{left:611.887980pt;}
.x1e{left:623.894778pt;}
.x12{left:626.113569pt;}
.x1f{left:637.644778pt;}
.x5{left:640.000000pt;}
.x3c{left:676.468099pt;}
.x21{left:704.491661pt;}
.x14{left:707.802778pt;}
.x20{left:713.324994pt;}
.x13{left:716.636111pt;}
.x3d{left:772.468099pt;}
.x23{left:784.671918pt;}
.x16{left:789.075320pt;}
.x22{left:798.838585pt;}
.x15{left:803.241987pt;}
.x4b{left:849.147135pt;}
.x2e{left:867.230794pt;}
.x17{left:881.849904pt;}
.xd{left:1013.933024pt;}
}